[2020-08-01 08:19] Raghwendra-Dey opened #1 "Make it responsive"
This project is not made with keeping responsiveness in mind. And thus the view of this project in mobile phones is not that good. Make it responsive to be able to use in mobile phones as well with save ease. Also if you have a good sense of designing then do consider to give it some more styling to improve the look.

[2020-08-04 15:11] Raghwendra-Dey opened #2 "Bind start and stop of first timer to second"
Bind `start` and `stop` of `Time Devoted` to the `Actual Time Used` so that whenever `Time Devoted` timer `starts`/`stops` it automatically does the same thing with `Actual Time Used` timer. But don't confuse it with the vice-versa of binding second with the first.

[2020-08-04 18:25] squarecylinder commented on #2
Just uploaded a fix for this in PR! Hope that helps.

[2020-08-04 18:42] Raghwendra-Dey commented on #2
Thanks a lot!! You are welcomed to contribute some more to this project. If you find some bug or think of any other feature which might be helpful, feel free to raise an issue.

[2020-08-04 18:42] #2 closed

[2020-08-04 19:04] Raghwendra-Dey opened #4 "Enforce a check on starting of second timer"
Since, it is logical that the `second timer` wont run when the first one is stopped. So enforce a check while starting the `second timer` and only do so if the `first timer` is already running.

[2020-08-04 19:06] Raghwendra-Dey commented on #4
@squarecylinder Check this out, if possible.

[2020-08-04 19:13] squarecylinder commented on #4
So, are you trying to make it so the `second timer` only runs when the `first timer` is going? If thats the case, and we already bound the first timer buttons to the second, why not just remove the start/stop from the `second timer`? Unless I am misinterpreting what you are asking for.

[2020-08-04 19:19] Raghwendra-Dey commented on #4
No no, Actually the main motto of this project is to enable us to keep track of small small breaks and time wastage during our studies. So the first timer is the time we think we are studying and the second one is when we are actually studying. So, the first timer is bound to the second one, cool. Now, obviously you are studying only a subset of the time you think you are studying. So if the secon

[2020-08-28 13:42] Raghwendra-Dey opened #5 "Second Timer loses control"
Follow these steps, to reproduce the error:

1. `Switch on` the `second timer`, keeping `first` one is still `off`
2. After that let the `second timer` to run for few seconds
3. Then `first timer` is `switched on` (which is internally coupled with the `second timer`, i.e. it `switches on` the `second timer` everytime it `switches on` itself and vice versa due to #3, but in this case this coupling

[2020-11-30 12:36] Raghwendra-Dey opened #6 "Add a block to show difference of the two timers"
Add a new block, maybe similar in look with the two timers, with `Hours Minutes Seconds Centiseconds` sections, placed in between the two timers, to show the difference between the two timers, i.e. `Time Devoted - Actual Time Used`.
No need to handle the case of negative result, since that is a bug and would be fixed after #4 is fixed.
Keep in mind to orient the styling of the blocks accordingly w

[2020-12-04 09:08] Bbiswabasu commented on #6
I would like to work on this

[2020-12-04 12:22] LazyCoder-1506 commented on #1
I would like to contribute to the styling and responsiveness

[2020-12-04 13:10] Raghwendra-Dey commented on #1
@LazyCoder-1506 please go ahead. Presently this doesn't look good in the mobile devices. Please change the CSS to make it compatible with phones. Along with that, if you want to give it some more styling, then please do so.

[2020-12-04 13:12] LazyCoder-1506 commented on #1
Yes sure. I am pretty comfortable with Bootstrap, so if you allow I want to use Bootstrap for styling and making it responsive

[2020-12-04 13:13] rsriramc commented on #5
I am interested to take up on this.
I have found a bug which may not be resolved by solving the issue #4

[2020-12-04 13:18] rsriramc commented on #4
I can take up on this.
But, I think a better option would be that the **start of second button will start the first one** **only in the case** when **both are stopped**.
That simply means that the person has **just started studying** or **started again, from a long break**. This would also by-pass the necessity of clicking two buttons for those who want to start both timers at once.

[2020-12-04 15:54] Raghwendra-Dey commented on #4
@ravisrc sorry i think theres a bit of confusion.
Here the `first timer` is the `Time Devoted` timer and the `second timer` is the `Actual Time Used` timer.
Now the first timer would run even when you are taking small breaks, but the second timer would stop during the small breaks.
In simple words, you can say that logically `first timer time >= second timer timer` always.
And the `first timer` is

[2020-12-04 15:56] Raghwendra-Dey commented on #5
@ravisrc yeah please go ahead. Please explain about the bug you found which is unresolvable even after #4.

[2020-12-04 17:22] #6 closed

[2020-12-04 17:47] Raghwendra-Dey opened #8 "Stop the flickering of the difference timer"
The difference timer is flickering sometimes, when both the timers are running at the same time, maybe because of very very small changes in consecutive difference measurements between the two clocks. It mainly visible on the `Centiseconds` part.
Let me know, if you have want some more explaination or any problems in coming up with a logic to get it done.

[2020-12-04 17:48] Raghwendra-Dey commented on #8
@Bbiswabasu please look into this, if you would like to do it.

[2020-12-05 03:57] Bbiswabasu commented on #8
Ok I will do this

[2020-12-05 12:25] KeertimaanNayak commented on #1
I am willing to make the page responsive and look into the styling of this page.

[2020-12-05 13:31] ananya8226 commented on #1
I would like like to make it more responsive and improve the styling of this page, making it more user friendly.

[2020-12-05 14:38] Raghwendra-Dey commented on #1
@ananya8226 and @KeertimaanNayak you both are welcomed to contribute towards improving the styling of the page, and making it responsive and user friendly. Since, this project needs a lot of styling works, `a team work is always better than one person working alone`. So, I would suggest you three to collaborate on making this project responsive and give it more styling. The designing aspects decis

[2020-12-05 16:44] Nishant2907 commented on #1
Hello, i am into adding responsiveness to a website by using bootstrap. Can i also work with pure css :)

[2020-12-05 20:23] Raghwendra-Dey commented on #1
@Nishant2907 please go ahead. I have added you all to a chat room, you guys can start discussing about the design ideas there.

[2020-12-05 20:30] Raghwendra-Dey commented on #1
@Nishant2907 Please join the [gitter channel](https://gitter.im/productivity_meter/community) and introduce yourself to the community there. Also, I have sent you invite for the `UI_works` chat room, please join that.

[2020-12-06 08:35] #8 closed

[2020-12-06 10:55] #4 closed

[2020-12-06 11:16] #5 closed

[2020-12-06 12:44] Ishan-Saini opened #14 "Add TODO list"
Right now, this app is focused on counting the number of problems a user solves in a time duration. But to widen the scope of this project we need something through which a user can also keep track of their other tasks.
So the idea is to have a To-do list which will help users track their pending tasks throughout the day.

Features of this Todo list -

1.  **Completion** - A user should be able to

[2020-12-06 13:28] Bbiswabasu commented on #14
This seems interesting and I would like to work on this

[2020-12-06 15:06] ghost commented on #1
@Raghwendra-Dey  Sir, I want to work on this issue to make this website responsive for different devices.

Thanks & Regards
Urvashi Anand

[2020-12-06 15:32] TusharDasMe commented on #14
Can I work on this ?

[2020-12-06 15:37] siddhant094 commented on #14
it would be great if you could assign this to me

[2020-12-06 16:40] Raghwendra-Dey commented on #14
Hello @Ishan-Saini @Bbiswabasu @siddhant094 @TusharDasMe . I am glad to see that all of you are interested to contribute towards this feature. This is a very good opportunity for all of you to collaborate, and learn team work values. All of you would be working on this feature. I would assign one of you to put up the boilerplate code, and then we would assign specific feature of the TODO list to e

[2020-12-06 16:40] Raghwendra-Dey commented on #14
@Ishan-Saini I think the `4th point` suggested by you would be unusual, since number of problems solved is never a TODO. A TODO entry is just `Practice problem solving` / `resolve the assigned issue#4` . And then its upon the user how many problems he wants to solve. So, I think we should keep the problem counter as it is for the time being.

[2020-12-06 16:47] Raghwendra-Dey opened #15 "Add the boilerplate code for TODO list"
Add a boilerplate code for the TODO list segment of the site.

Also currently you can also add a simple tabular form of html for the TODO list, with a button and a heading. The function triggers of the buttons should be left empty, with only the `required statement` of the function.

[2020-12-06 16:47] Raghwendra-Dey commented on #15
@Bbiswabasu would you like to do this?

[2020-12-06 16:55] Bbiswabasu commented on #15
Yeah sure.

[2020-12-06 16:58] Raghwendra-Dey commented on #15
When could you expect to deliver the boilerplate code? Since untill this is done, others cant go ahead with their works.
Don't do too much on the boilerplate code. Keep it simple for now, we can always add more things later. Remember boilerplate code is just a skeleton code, not the actual code.
Also, how do you suggest to write this code, I mean should this be on the same `script.js` file, or add

[2020-12-06 17:03] Bbiswabasu commented on #15
I can do it by tomorrow 10 AM. I have already planned how to proceed but I need some time to present it in a good manner.
I think making a seperate todo_list.js would be better.
If someone else can deliver the boilerplate code earlier than the time I mentioned, you can surely assign them the task.

[2020-12-06 17:05] Ishan-Saini commented on #14
@Raghwendra-Dey  Alright, lets discard the 4th point.
The basic design of the list LGTM tho.

[2020-12-06 17:06] Raghwendra-Dey commented on #15
Okay, thats fine. You take your time. I think you would be able to do this faster since, you are already familiar with the codebase, and have also done some work on this.
Yeah, go ahead with a separate `todo_list.js` file.

[2020-12-06 17:15] Raghwendra-Dey commented on #1
@urvashi-code1255 you are welcomed to contribute towards responsiveness of this project. Currently we are thinking of using bootstrap for this purpose. Please join the [gitter channel](https://gitter.im/productivity_meter/community) and introduce yourself to the community. Also please join [this chat room](https://gitter.im/productivity_meter/UI_works) to participate in the discussions of the UI a

[2020-12-06 17:59] kri-bhawna commented on #1
@Raghwendra-Dey  Sir, I also want to contribute towards styling and responsiveness using bootstrap.
Bhawna

[2020-12-06 18:51] inumausam commented on #1
Sir, I would also like to contribute towards this

[2020-12-06 18:55] Raghwendra-Dey commented on #1
@kri-bhawna @inumausam you are welcomed. Please join the relevant channels. And read through the discussions of the UI_works chatroom and feel free to give your inputs.

[2020-12-06 20:22] Nishant2907 opened #16 "Add a navbar in the header"
For setting a basic layout, we will have to start from adding the top most thing a website requires for sure- A Navbar.

[2020-12-06 20:24] Nishant2907 commented on #16
@Raghwendra-Dey I would like to work on adding the header to the website. What I will do is that I will make a cover image on the top of the screen, covering 60 - 70% of the screen with a image and a navbar in it.

[2020-12-06 21:10] Nishant2907 opened #17 "Add a footer"
We can add a footer in the website, so that we get a defined base of the webpage. Also adding footer will increase the beauty of the page.

[2020-12-06 21:10] Nishant2907 commented on #17
@Raghwendra-Dey  I would like to work on this issue. :)

[2020-12-07 07:23] tejan-singh opened #19 "Update button designs"
I would like to add modern design to buttons using bootstrap to make UI look better.

[2020-12-07 08:52] prsingh061000 commented on #19
@tejan-singh I can work on this issue

[2020-12-07 09:34] sourav-suku opened #20 "Displaying average time spent per problem in the previous session whenever clear/reset button is pressed"
As the project is aimed at increasing productivity in problem solving, approximate idea of time spent per problem will help in increasing the speed of problem solving.
So the idea is to display the average time spent per problem whenever clear or reset button is pressed, as a message.
When no problem is solved in the previous session then accordingly message can be provided.

[2020-12-07 09:56] Raghwendra-Dey commented on #16
Could you draw the look of the page with the header and footer you are thinking of adding, then the picture would be more clear.
One small suggestion, Don't make the header cover more area than 10-20% of the initial height of the screen, since our main product are the timers, and all. So, We don't want to trouble the user with scrolling to find them everytime.
Please make the size adjustments acco

[2020-12-07 09:59] Raghwendra-Dey commented on #19
@tejan-singh could you describle the design you are thinking of implementing, maybe if you have a photograph, or if you could draw them, it would be easier to visualise, before implementing them.

[2020-12-07 10:23] Raghwendra-Dey commented on #20
@sourav-suku actually that would cause a lot of burden on the user to repeatedly press buttons, also, this project mainly focuses on measuring the small small time wastage, due to small distractions like, calling a friend, checking social media for checking notifications.
But your idea could also be implemented without troubling the user with extra button pressing things. Maybe we can add a small

[2020-12-07 10:25] Raghwendra-Dey commented on #20
@sourav-suku would you like to do this?

[2020-12-07 10:41] kri-bhawna opened #21 "Pop-up message"
We can let a pop-up message to appear whenever there will be any increment/decrement in the number of problems solved. This pop-up message can be featured to fade away automatically after a certain duration of time, say 5 sec.
For increment we can use "Well done ! keep it up!" , and for decrement "Oops! you've got an extra problem to solve!".

[2020-12-07 10:44] Raghwendra-Dey commented on #21
Also please add a pop up message for the `Go` button proposed in the diagram given in #20 . Maybe something like, `The clock is ticking, hurry up!!`

[2020-12-07 10:45] Raghwendra-Dey commented on #21
@kri-bhawna would you like to work on it?

[2020-12-07 10:45] ravisrc opened #22 "Storing the user data and works history locally"
At present the project has many cool features and many more would come. But it will never be that cool and efficient for the user, when the software keeps track on the history and analysis of the tasks he has completed. So it would be a good idea to add a feature that stores all such data.

Also it would be nice if the data can also be handled by the user such as deleting and many more actions suc

[2020-12-07 10:45] rsriramc commented on #22
I would like to take up on this thing.

[2020-12-07 10:55] Raghwendra-Dey opened #23 "Make all the blocks to contain the text which is shown above it and change its positioning"
Include the text of each block to include it. Try to also introduce a bit of bootstrap into the site with it, to give it responsiveness. Position the three blocks in the same row with the `difference block` in the middle, the `Time Devoted` on the right and `Actual Time Used` to the right of it.

[2020-12-07 10:56] Raghwendra-Dey commented on #23
@Nishant2907 would you like to work on it?

[2020-12-07 11:05] Nishant2907 commented on #23
Yes sure @Raghwendra-Dey, I can do it. For now I will finish the issue for header and footer by today night or tomorrow morning
 and then I can work on this too. Thanks for considering me in this :)

[2020-12-07 11:22] Raghwendra-Dey opened #24 "Add a text field with a Set button associated with it"
Add a text field where user can enter a number and after that if the `Set` button is pressed, which is associated on it, this action would set the value of a global variable `breakDur`, to the entered value. This issue is the part of the notification system we are trying to implement.
You can have a look at the diagram below for better understanding:

![IMG_20201207_164121](https://user-images.git

[2020-12-07 11:23] Raghwendra-Dey commented on #24
@Lucky-321 would you like to work on this?

[2020-12-07 11:35] aalokagrawal commented on #19
@Raghwendra-Dey  I can do that hover part and if you want some styling to make it look better I can do that too.Assign this issue to me.I would like to work on this one.

[2020-12-07 11:36] Lucky-321 commented on #24
Yes

[2020-12-07 11:40] Raghwendra-Dey commented on #19
@aalokagrawal you do the hovering thing. And let @tejan-singh handle the designing aspects of the buttons. Maybe you open one more issue regarding the hovering thing, and I would assign you that.

[2020-12-07 11:42] Raghwendra-Dey commented on #24
Untill when do you expect to deliver it. Any rough deadlines would be helpful to synchronise other aspects of the notification system.
And please name that global variable `breakDur` .

[2020-12-07 11:52] Raghwendra-Dey opened #25 "Make a function to play sound"
Make a function which would play a notification sound, when both the timers are stopped, i.e. the user is on a long break and the elapsed time of long break crosses the time set in a global variable named `breakDur` given by #24  . You may need to start a new setInterval instance to keep track of this elapsed time between long breaks. Theres more of working with javascript in this issue. This is a

[2020-12-07 11:52] Raghwendra-Dey commented on #25
@TusharDasMe would you like to work on this?

[2020-12-07 11:57] ghost commented on #25
@Raghwendra-Dey  Sir, I would like to work on this issue. PLease clarify a bit more. Then I will work on it

Thanks & Regards
Urvashi Anand

[2020-12-07 11:59] TusharDasMe commented on #25
Ok tell me more about your requirement

[2020-12-07 11:59] kri-bhawna commented on #21
@Raghwendra-Dey  Sure, I can do that.

[2020-12-07 12:09] Raghwendra-Dey commented on #25
@urvashi-code1255 you work on writing a function which would play a notification sound, whenever that is called.
And @TusharDasMe and you work on making a function which would print a message to the `console.log` when the time elapsed during the long break crosses the value set in the `breakDur` variable. Also you need to repeat the message after every 5 mins.
It would be like:
* print the message

[2020-12-07 12:11] #25 closed

[2020-12-07 12:11] ghost commented on #25
Okay @Raghwendra-Dey  Sir I will work on it.

[2020-12-07 12:14] Raghwendra-Dey opened #27 "Make a function to play sound"
Write a JS function which plays a notification sound, whenever it is called. There should not be any controller of this sound to stop it or anything, it should work like an alarm clock tone.
This would be integrated for the notification system.
Comment below if you need some more clarifications.
Make all the PRs related to this in the `notification` branch of this repo.

[2020-12-07 12:14] Raghwendra-Dey commented on #27
@urvashi-code1255 would you like to work on this?

[2020-12-07 12:16] ghost commented on #27
Yes @Raghwendra-Dey  Sir

[2020-12-07 12:17] Raghwendra-Dey commented on #27
@urvashi-code1255 Untill when do you expect to deliver it. Any rough deadlines would be helpful to synchronise other aspects of the notification system.

[2020-12-07 12:17] ghost commented on #27
Thank you sir, I will start working on it and will ask you if i want to know something on the gitter channel

[2020-12-07 12:19] Raghwendra-Dey opened #28 "Make a function to work like a alarm clock for breaks"
Write a function which would print a message to the `console.log` when the time elapsed during the long break crosses the value set in the `breakDur` variable. Also you need to repeat the message after every 5 mins.
It would be like:
* print the message first time when the elapsed time crosses `breakDur` value.
* again print it next time after 5mins, again after 5mins.. and so on. untill the user

[2020-12-07 12:19] Raghwendra-Dey commented on #28
@TusharDasMe would you like to work on this?

[2020-12-07 12:30] TusharDasMe commented on #28
Ok basically u need a alarm clock right?

[2020-12-07 12:33] Raghwendra-Dey commented on #21
@kri-bhawna please consider adding the error message pop-up of #24 , after its assignee is done with it. I believe that won't take long, so, for the time being consider working for the problem counter thing only.
Also make the pop-up similar to what happens when we hover over `#24` above in github.

[2020-12-07 12:37] Raghwendra-Dey commented on #28
yeah, an alarm clock function which have snooze duration of 5mins, and just prints a message to the console. Later on we will integrate it with #27 to make a fully functional notification system.

[2020-12-07 12:37] urvashi-code1255 opened #29 "Hovering effect to the buttons"
As of now, there is no hovering effect on the buttons. So, I would like to add hovering effect. I am thinking of adding some transformation from low scale to high. It will look good. Please assign this issue to me @Raghwendra-Dey  Sir.

Thanks & Regards
Urvashi Anand

[2020-12-07 12:52] Raghwendra-Dey commented on #29
@urvashi-code1255 could you elaborate on how exactly you are planning to make the hovering effect, and what are the design changes you are planning to make?
A diagram and a detailed explaination would be of great help.

[2020-12-07 13:00] ghost commented on #29
I want to use
.button{
transfrom=scale(09...);
}

.button:hover{
transform = scale(1....);
}
with some modifications in it like to reduce the opacity.
So that buttons will look real and performing after hovering.

[2020-12-07 13:03] Raghwendra-Dey commented on #15
@Bbiswabasu please open relevant issues for distribution of tasks on the boilerplate code of the TODO list feature. Break it into as simpler parts as possible.
Please clearly mention below them to give pull requests to the `todoList` branch instead of `master`.

[2020-12-07 13:03] #15 closed

[2020-12-07 13:04] ghost commented on #29
@Raghwendra-Dey Sir, I want to make the hover effect on the Go buttons.
Also, I will think some other styling for the +1, -1 and reset buttons.
Can, I send more than 1 prs for the same issue?

[2020-12-07 13:11] Raghwendra-Dey commented on #29
I still not get about the hovering effects. Like for the `Go` button mentioned in the #20 diagram? If yes then, it would be great then the assignee of it need not to worry about it.
Please elaborate about the hovering effects of other buttons, except `Go` button, like `+1`, `-1` etc.

For the `Go` button, we can't make this as other buttons, we need to give it a look, which shows, whether is it cu

[2020-12-07 13:13] anjali-2504 opened #30 "Proper alignment and display of an additional button"
Basically for the count of the problems i added an extra button in place where reset currently is. And  placing the reset button down the black area just like we have the Go  button below the timer box. Apart  from this I also thought of adding a sound effect on clicking the button Go and after clicking Stop  just the way stopwatches have. And similarly , there can be a heading at the top(with an

[2020-12-07 13:30] ghost commented on #29
So, @Raghwendra-Dey  Sir. Can I open one issue for the Go buttons and seperate issues for the other buttons as they will require unique styling. So, Can I close this one and open seperate.

[2020-12-07 13:30] ghost commented on #29
After that I will just start working and send prs for all :)

[2020-12-07 13:36] aalokagrawal opened #31 "Adding hovering style to buttons"
Make buttons more stylish and while clicking them it should look like we are pressing a real button.They should come up while hover and should go inside when pressed giving a feel like it is actually getting pressed.

[2020-12-07 14:08] Raghwendra-Dey commented on #30
I could not follow you on this. Could you put a diagram dipicting what exactly are you talking about.

These sound effects may unnecessarily distract the user while studying. We would be looking at making a spotify addon with this product on later stages, where the user could be able to play music of his choice.

Please provide some diagrams.

I think we can add all these things in the footer, whi

[2020-12-07 14:14] Raghwendra-Dey commented on #29
@urvashi-code1255 Sure, Please close this and open two issues, one regarding the hovering of other buttons, and one regarding hovering of the `Go` button. Presently you focus on the hovering of the other buttons and #27 . Since, the `Go` button things can't be implemented unless #20 is resolved. For `Go` button, make an issue, and work on it later.

[2020-12-07 14:15] ghost commented on #29
Okay @Raghwendra-Dey  Sir, Thank you :)

[2020-12-07 14:15] #29 closed

[2020-12-07 14:18] urvashi-code1255 opened #32 "Hovering effect to the Record button"
As there is no pressing and hovering effect on the Record button(would be introduced after #20 ) yet, so add some hovering effects so that it will look like to be pressed when pressed.

[2020-12-07 14:20] urvashi-code1255 opened #33 "Styling for the +1 -1 and Reset buttons"
@Raghwendra-Dey  Sir, As of now there is no hovering state, active state stylings for the +1 -1 and Reset buttons.
I would like to add more styling to these buttons. Please assign me this issue :)

Thanks & Regards
Urvashi Anand

[2020-12-07 14:22] tejan-singh commented on #19
Here! The Preview of buttons.
https://codepen.io/tstejan/pen/WNGxQaY

[2020-12-07 14:23] Raghwendra-Dey commented on #31
@aalokagrawal sorry hovering things is already in progress. I suggest you get in touch with @Nishant2907 since he is currently working on three issues simultaneously (#16 , #17 , #23 ). He would require your help to deliver them quickly.
Also @aalokagrawal please join [this](https://gitter.im/productivity_meter/UI_works) channel.

[2020-12-07 14:30] Raghwendra-Dey commented on #20
Please give some other name to the new introduced button, since `Go` name is already in use by the `timers`.
Name it `Record` instead.

[2020-12-07 14:38] Raghwendra-Dey commented on #33
Please also consider giving a good styling to other buttons as well.
Like all the buttons of the `timers`.
You can give the same hovering effects to all the buttons currently in the project.
Please comment below, if you need further explaination.

[2020-12-07 14:42] Raghwendra-Dey commented on #32
Please edit it to make `Go` name to `Record` which is introduced in #20 . This can only be done after #20 is resolved. So, currently focus on #33 and #27 .

[2020-12-07 14:44] #31 closed

[2020-12-07 14:49] Raghwendra-Dey commented on #19
@tejan-singh It looks great!!  I think its already done, so please raise a PR by implementing it for this project.

[2020-12-07 14:50] siddhant094 opened #34 "Bug in actual time used"
@Raghwendra-Dey
Press GO of the time devoted option . wait for a few seconds and now stop the actual time used and the time devoted.
Now , press clear on the time devoted. The time on actual time used should also be cleared. However , this does not happen and I want to fix this bug.

[2020-12-07 14:58] Bbiswabasu commented on #14
@Raghwendra-Dey I will be doing the task of adding elements to Todo List and @Ishan-Saini will be writing event listeners for each element. So, I think for my part, there is no need to add separate issue.

[2020-12-07 15:02] Raghwendra-Dey commented on #34
Okay you can link the clear of the `Time Devoted` to enforce its actions on `Actual Time Used` but don't do this other way round. It may be needed to clear only the `Actual Time Used`.

[2020-12-07 15:17] sourav-suku commented on #20
Thank you for your response
Yes,I would like to do this

[2020-12-07 15:17] sourav-suku commented on #20
Ya.I would do that

[2020-12-07 15:35] siddhant094 commented on #34
Yes Sure. Please assign me the issue.

[2020-12-07 17:53] sourav-suku commented on #20
@Raghwendra-Dey
From what you said above I realise that u are planning to calculate the average "actual" time given by the user per problem.
But instead of this we can calculate average "total" time ("actual time" + "time wasted") which essentially will serve the same purpose as the former.The latter can also be implemented easily and even reduces the burden from users side as no extra buttons hav

[2020-12-07 17:56] sourav-suku commented on #20
The main purpose of including the average time per problem is that the user get a first hand impression about their time utilization so that they can plan to solve the next problem quickly

[2020-12-07 18:04] sourav-suku commented on #20
Regarding Implementation
We can take total time devoted and problem count for calculating the average total time (Total time devoted/(Problems Count)
When count is zero average is also kept zero,.
The average is updated whenever +1 is pressed and reset to zero when reset button is pressed.

[2020-12-08 07:40] sourav-suku commented on #20
#36

[2020-12-08 07:42] sourav-suku commented on #20
I have created a pull request implementing the above said idea

[2020-12-08 15:27] anjali-2504 opened #39 "This was the change in the button i was talking about"
![IMG_20201208_205649.jpg](https://user-images.githubusercontent.com/75211465/101503310-fa78d580-3997-11eb-9490-1eb16ad848cc.jpg)

[2020-12-08 15:48] #19 closed

[2020-12-08 15:57] #17 closed

[2020-12-08 16:05] Raghwendra-Dey opened #40 "Correct the dimentions of the problem counter block"
Currently the problem counter block's height is very odd, with unnecessary spaces here and there. Please make remove the unncessary spaces, and make the `Problems Count: {number}` to come in a singe line rather than in two lines. Please consider testing of being in single line even with numbers >100.
By removing unncessary spaces, I mean, reduce the space between the buttons and the text. And also

[2020-12-08 16:05] Raghwendra-Dey commented on #40
@anjali-2504  would you like to do this?

[2020-12-08 16:07] Raghwendra-Dey commented on #39
@anjali-2504 Actually after #37 I don't think we need any more styling for the buttons. Maybe we need it on later stages when other things are added, or maybe when additional buttons would be added.
Now you can consider contributing to #40

[2020-12-08 16:10] Raghwendra-Dey commented on #39
And you can always discuss various ideas regarding this project in the gitter channel. Please join it, if not already done so(link in readme).

[2020-12-08 16:29] anjali-2504 commented on #40
Yeah sure!!

[2020-12-08 16:32] Raghwendra-Dey opened #41 "Design good background and make the site responsive"
Currently the background of the page is very monotonous, with only one color. Design and implement a good looking background for the page. Before implementing please post a photograph or share the design idea of the background here, then start implementing. Also make the site responsive for various devices. You may use bootstrap for this.

[2020-12-08 16:33] Raghwendra-Dey commented on #41
@LazyCoder-1506 would you like to work on this?

[2020-12-08 16:43] ghost commented on #33
https://codepen.io/urvashi-code1255/pen/ExgyJoZ

This is the effect i was talking about @Raghwendra-Dey  Sir

[2020-12-08 16:52] urvashi-code1255 opened #42 "Overflow-x after the addition of footer"
![productivityMeter](https://user-images.githubusercontent.com/63122133/101514912-ca373400-39a3-11eb-9a50-cc13f22a42b2.PNG)

As shown in the picture, there is horizontal scroll bar, which was not there. Its because of the width given to the footer. I will work on this issue @Raghwendra-Dey  Sir. Please assign it to me.

[2020-12-08 16:53] Raghwendra-Dey commented on #40
@anjali-2504 please close the other issues opened by you, if your doubts are resolved. If not then please comment below them.

[2020-12-08 16:55] Raghwendra-Dey commented on #42
@urvashi-code1255 please go ahead. I have also mentioned this in #41 . Okay you do it. I would remove it from there.
This was introduced after #38 . You may look at the files changed in that PR.

[2020-12-08 16:55] LazyCoder-1506 commented on #41
yes i would love to

[2020-12-08 17:02] anjali-2504 commented on #40
Yeah understood. One more thing,can we also display
 the percent efficiency of the person?

[2020-12-08 17:09] Raghwendra-Dey commented on #33
@urvashi-code1255 Looks good to me. Implement it for the site.

[2020-12-08 17:10] anjali-2504 commented on #40
@Raghvendra_Dey May I  also add and extra display of percent efficiency of
the person?

On Tue, Dec 8, 2020 at 10:23 PM Raghwendra Dey <notifications@github.com>
wrote:

[2020-12-08 17:12] Raghwendra-Dey commented on #40
@anjali-2504 first complete this. Then maybe we can start working on that.
I have also thought of adding one such block. But first lets clear the first things first.

[2020-12-08 18:13] #14 closed

[2020-12-08 18:18] Raghwendra-Dey opened #47 "Unstrike the todolist entry when unchecked"
When an entry is checked in its checkbox, then it gets striked off, but if the user unchecks that entry later, it doesn't gets unstricked.
Also, if the textbox is empty, and it is tried to be ticked, then it should simply do nothing, rather than stricking the background text `Enter TaskName`. Please make necessary amendments.

[2020-12-08 18:19] Raghwendra-Dey commented on #47
@Ishan-Saini you have worked on this part. Would you like to take it up?

[2020-12-08 18:26] #42 closed

[2020-12-08 18:45] Ishan-Saini commented on #47
@Raghwendra-Dey Yeah sure!

[2020-12-08 19:17] Raghwendra-Dey opened #48 "Design a logo for the project"
If anyone have worked with vector graphs softwares like Adobe Illustrator, Inkscape, etc, or maybe even photoshop or some drawing softwares, Or would like to learn them, and make something with it, then please design a cool logo for this project. The end user of this product are programmers like us, so keep this in mind while designing the logo. You can have a look [here](https://www.xypnox.com/bl

[2020-12-09 05:51] inumausam commented on #48
I will be happy to learn and try this @Raghwendra-Dey

[2020-12-09 15:11] kri-bhawna commented on #21
![Screenshot (20)](https://user-images.githubusercontent.com/63978409/101647056-4db55b80-3a5e-11eb-8e54-95961d13feb7.png)
![Screenshot (19)](https://user-images.githubusercontent.com/63978409/101647082-55750000-3a5e-11eb-8596-438f9e3382bb.png)

@Raghwendra-Dey Sir, please give your reviews regarding this format of the pop-ups to be displayed when +1 and -1 are clicked.

[2020-12-09 15:16] tejan-singh opened #52 "add code_of_conduct.md file"
- The repository is missing necessary code of conduct file.

[2020-12-09 15:18] kri-bhawna commented on #21
@Raghwendra-Dey These pop-ups will be displayed for 3 seconds(including the fade away time) and will fade away after that.
These are displayed at the bottom right of the screen, in order to avoid any distraction for the user.
Also, I was thinking to add an alert which will be displayed if problem count is 0 and user clicks -1.
Alert having the text "You are already at problem count zero." This ale

[2020-12-10 03:29] devsTudu commented on #48
Hello my senior brother, Can I try to impress you with some of my logo design .

[2020-12-10 12:06] #47 closed

[2020-12-10 12:10] #34 closed

[2020-12-10 12:19] Raghwendra-Dey commented on #52
We don't have any specific code of conduct as such. We just try to follow the general code of conduct of opensource.

[2020-12-10 12:22] Raghwendra-Dey commented on #48
@inumausam and @devsTudu you both try to do it. Atlast we can decide on which one to use, by a poll among the community.
Even if your design is not used, still you would end up learning the process of designing a logo.

[2020-12-10 12:23] Raghwendra-Dey commented on #48
And @devsTudu please follow the code of conduct of opensource while commenting.

[2020-12-10 12:35] Raghwendra-Dey commented on #21
Yeah these notification things are nice, but keep them small and also add a cross option in the top right, so that the user can cancel the things by clicking em. Just like its there in codeforces.com .
Yeah, you can add this thing for the alreat as well. I don't think it would be good to change the position of the notification.
But still prepare the demo for both, we'll see later.

[2020-12-10 15:20] tejan-singh commented on #52
Yes. That's what I am trying to add. All GitHub projects have code of conduct file.

[2020-12-10 15:20] tejan-singh commented on #52
Its nice to have one for open source projects.

[2020-12-10 18:06] kri-bhawna commented on #21
@Raghwendra-Dey In reference to https://github.com/Raghwendra-Dey/productivity_meter/issues/21#issuecomment-739836245
Can you please clarify this ? I am not getting when actually do the pop up box has to appear for **Go** button, as per mentioned in above comment in #21 itself.

[2020-12-11 06:31] Raghwendra-Dey commented on #21
@kri-bhawna for now, you just add them for `+1, -1 and reset buttons`

[2020-12-11 12:56] Vishal-raj-1 commented on #41
@LazyCoder-1506 Are you working on this issue, if you are busy for now, I can continue on this issue. If you are working then take your time!!

Keep Coding

[2020-12-11 13:02] #33 closed

[2020-12-11 13:06] Raghwendra-Dey opened #53 "Make the Todo list scrollbar appear only when required"
Make the Scrollbar of ToDo list only appear when its required, i.e. when the number of entries overflows the visible height of the list.

[2020-12-11 13:06] Raghwendra-Dey commented on #53
@Bbiswabasu You have worked on the boilerplate code of this. Would you like to take this up?

[2020-12-11 13:07] Vishal-raj-1 commented on #53
@Raghwendra-Dey may I get started with this issue ??

[2020-12-11 13:08] Raghwendra-Dey opened #54 "Give styling to the ToDo list"
currently the Todo list `cross` button has no styling. Also the dimentions of the entries looks very odd, its too big. Also, the checkbox is too small. Correct these things, and give it a decent dimentions, along with styling it.

[2020-12-11 13:09] Raghwendra-Dey commented on #53
@Vishal-raj-1 okay! please go ahead!!

[2020-12-11 13:10] Bbiswabasu commented on #53
For me, it is showing scrollbar only when no of entries overflow. Can you plz make it more clear which part you are talking about.

[2020-12-11 13:11] Vishal-raj-1 commented on #53
![tofo](https://user-images.githubusercontent.com/59874304/101907378-7ebd9980-3be0-11eb-8c4e-d715afa80cb1.JPG)

[2020-12-11 13:12] ghost commented on #54
@Raghwendra-Dey  Sir, I can work on this issue. It looks odd to me too.

[2020-12-11 13:12] Raghwendra-Dey commented on #53
Actually I was talking about removing the white line which is there even when the number of entries is lesser than the overflow.

[2020-12-11 13:13] Raghwendra-Dey commented on #54
@urvashi-code1255 please go ahead.

[2020-12-11 13:13] Bbiswabasu commented on #53
Okay. Actually I just checked it on my phone and there was no such problem.

[2020-12-11 13:14] Raghwendra-Dey commented on #54
Please style the text `ToDo` as well. Maybe use some other font/color, or anything.

[2020-12-11 13:16] ghost commented on #54
Sure Sir

[2020-12-11 13:18] LazyCoder-1506 commented on #41
@Vishal-raj-1 yes mate I'm working on it

[2020-12-11 13:29] Raghwendra-Dey opened #55 "Add the option of importing to keep in ToDo list"
Add a Button `Import to Keep` in the ToDo list, which first ask the user about to login to his google account, and then create a new TODO list in his google keep.
Later, we can also add an optionn to `import from Keep` which imports any list in keep with checkboxes into this.

[2020-12-11 13:29] Raghwendra-Dey commented on #55
@Bbiswabasu would you like to do this?

[2020-12-11 13:31] Vishal-raj-1 opened #56 "Same Ids for different Element"
Id is unique. We can't give **multiple ids to an element OR same id for multiple elements.**
One more little thing I would like to mention is if it is centiseconds instead of miliseconds use `cs` instead of `ms`.

![id error](https://user-images.githubusercontent.com/59874304/101908719-81b98980-3be2-11eb-93c9-aa97bb9a1936.JPG)

I would like to work on this issue !! @Raghwendra-Dey Sir !!

[2020-12-11 13:32] Bbiswabasu commented on #55
Yes I will take it. But I do not have much experience in this matter. So, I may need some time to complete it

[2020-12-11 13:32] Vishal-raj-1 commented on #41
Okay Okay Keep Working !!

[2020-12-11 13:35] Raghwendra-Dey commented on #55
Great!! You take your time, no issues. You need to look into how to redirect to google login, then work something with keep api.
Would you be doing both `export` and `import` at the same time, or just `export` for now, and `import` later?
I suggest doing one at a time would be better.

[2020-12-11 13:37] Vishal-raj-1 opened #57 "Should Avoid Inline Style & Class name should be meaningful."
In Real world Projects, we should avoid inline styling. Although we have given id here so we can do styling using id selector in style.css file. One more thing `=` is not meaningful class name. We should give some meaning classname.

![inline style](https://user-images.githubusercontent.com/59874304/101909741-ee815380-3be3-11eb-8083-7100d852eab3.JPG)

[2020-12-11 13:37] Raghwendra-Dey commented on #55
Oops! seems like, theres no keep api as such. You might need to look for any alternatives.

[2020-12-11 13:41] Bbiswabasu commented on #55
Okay let me start the task. I would like to do both import and export. Still, I will inform you if I face problem in doing any of these tasks

[2020-12-11 13:41] Raghwendra-Dey commented on #56
@Vishal-raj-1 we haven't given multiple ids for the same element right? Yeah, we have given multiple elements same ids, and thats wrong. You may correct it.

[2020-12-11 14:01] Vishal-raj-1 opened #58 "Using Html Element only in HTML file"
Instead of adding ❤️ directly in index.html we should use `<i class="fas fa-heart"></i>`

![heart](https://user-images.githubusercontent.com/59874304/101912021-36ee4080-3be7-11eb-9abc-956092933125.JPG)

I am working on this issue @Raghwendra-Dey Sir.

[2020-12-11 14:13] Vishal-raj-1 commented on #56
Okay I am fixing that !!

[2020-12-11 14:35] ghost commented on #27
@Raghwendra-Dey Sir, when to play that notification sound. For now, Can I show the notification sound on clicking a button for demo?

[2020-12-11 15:04] Bbiswabasu commented on #55
Hmm there isn't any. @Raghwendra-Dey How about uploading the ToDo list to Google Drive?

[2020-12-11 15:08] Vishal-raj-1 opened #60 "CSS Property Error"
there is no property like `style`.

![css property error](https://user-images.githubusercontent.com/59874304/101919585-bf251380-3bf0-11eb-8b8c-9697be0abe15.JPG)

[2020-12-11 15:35] Vishal-raj-1 commented on #60
I am working on this issue.!!

[2020-12-11 15:36] Vishal-raj-1 commented on #53
I have solved this issue !! I will create a PR shortly.!!

[2020-12-11 20:54] inumausam commented on #48
![new](https://user-images.githubusercontent.com/75451148/101953776-fd3a2b80-3c20-11eb-8b39-d7de37ed86e3.png)
how is it @Raghwendra-Dey

[2020-12-11 21:20] Raghwendra-Dey commented on #48
Hey @inumausam that looks great!! I think, if you could replace that book with a speedometer kind of thing, it may look better. Could you please it once?

[2020-12-11 21:25] Raghwendra-Dey commented on #27
@urvashi-code1255 no need of a button, since that would just be a wastage of time. Atlast we would be integrating it with other part of the notification system, then it would become complete.
And regarding demo thing, we can always test a js function using the dev console.

[2020-12-11 21:31] Raghwendra-Dey commented on #55
Could you try to use [this](https://github.com/kiwiz/gkeepapi) ? The problem is the python in js thing. Is there anything you could do about that?

[2020-12-12 04:41] devsTudu commented on #48
Check this out @Raghwendra-Dey

![20201212_100112_0000](https://user-images.githubusercontent.com/65746343/101975382-3a72dd80-3c62-11eb-979b-501874f9c6ce.png)

[2020-12-12 04:54] inumausam commented on #48
yaa sure I will have a look at it

[2020-12-12 06:37] inumausam commented on #48
![tre](https://user-images.githubusercontent.com/75451148/101977261-54b4b780-3c72-11eb-9ae7-fd026e499ac2.png)
 @Raghwendra-Dey

[2020-12-12 11:52] Vishal-raj-1 commented on #1
@Raghwendra-Dey I would like to work on this issue!! I will use bootstrap for that purpose kindly assign it to me !! I have already join the UI_Works Glitter Room.

[2020-12-12 11:54] Vishal-raj-1 commented on #52
Do you want to close this issue for now ?? @Raghwendra-Dey

[2020-12-12 11:58] Raghwendra-Dey commented on #52
I don't think for small and developmental projects like this, we should be wasting time in code of conduct things. We can always do this later, when our product is almost ready.

[2020-12-12 11:59] Vishal-raj-1 commented on #52
yep!!

[2020-12-12 12:00] Raghwendra-Dey commented on #1
Actually, currently we are working on this in part by part basis. We be opening more issues soon, once the currently assigned tasks are done.

[2020-12-12 12:01] Vishal-raj-1 commented on #1
Okay!! No Problem

[2020-12-12 13:04] #53 closed

[2020-12-12 13:04] #56 closed

[2020-12-12 13:04] #57 closed

[2020-12-12 13:04] #58 closed

[2020-12-12 13:04] #60 closed

[2020-12-12 13:06] #52 closed

[2020-12-12 16:38] ghost commented on #54
![diffTodoList](https://user-images.githubusercontent.com/63122133/101989456-658f1880-3cc6-11eb-8a65-57a93c42832d.PNG)

Anything other than this? @Raghwendra-Dey  Sir. Please suggest.

[2020-12-12 17:16] Raghwendra-Dey commented on #54
Yeah, could you reduce the gap between two entry row a bit, it would look better maybe, and I think, if we reduce that gap, then maybe we can adjust more entries without using scrolling. Please post the photo after reducing the gap, and we'll decide, then you may go ahead with shooting a PR.

[2020-12-12 17:43] ghost commented on #54
![todolist](https://user-images.githubusercontent.com/63122133/101990970-90ca3580-3ccf-11eb-8b4c-0d34fd092ea4.PNG)

I couldn't reduce the space but I did this. Now? @Raghwendra-Dey  Sir

[2020-12-12 18:02] Raghwendra-Dey commented on #54
Did what? How many entries could fit in now? Without scrolling?

Could you explain whats the problem you are facing in reducing that size, maybe we can help?

[2020-12-12 18:51] ghost commented on #54
![todolist](https://user-images.githubusercontent.com/63122133/101992423-1dc5bc80-3cd9-11eb-92d1-7c8254f257fe.PNG)

Did that change @Raghwendra-Dey  Sir :fire:

[2020-12-12 18:53] Raghwendra-Dey commented on #54
@urvashi-code1255 cool!! Please update the changes to the PR. I'll review em tomorrow.

[2020-12-12 18:57] ghost commented on #54
Done @Raghwendra-Dey  Sir

[2020-12-13 04:15] Bbiswabasu commented on #55
I am not sure how we can use this from js

[2020-12-13 09:43] kri-bhawna commented on #21
@Raghwendra-Dey Sir, I am done with +1,-1 and reset . Can I create a pull request for that?

[2020-12-13 09:55] Raghwendra-Dey commented on #21
@kri-bhawna please post the photos here once.

[2020-12-13 10:45] kri-bhawna commented on #21
![Screenshot (21)](https://user-images.githubusercontent.com/63978409/102009583-62e00200-3d5e-11eb-8e43-33e4c22d9d24.png)
![Screenshot (22)](https://user-images.githubusercontent.com/63978409/102009585-67a4b600-3d5e-11eb-9fc2-606b4c3e47d5.png)
![Screenshot (23)](https://user-images.githubusercontent.com/63978409/102009587-67a4b600-3d5e-11eb-8e28-06f8cc6dd88e.png)
![Screenshot (24)](https://user-im

[2020-12-13 10:51] kri-bhawna commented on #21
@Raghwendra-Dey I have added the cross icon in all of these, and it is having the hover effect of of red color. Also, have added the transition effect of fade off with different time intervals. Also, as per instructed previously I have reduced their sizes  .
Please give your feedback.

[2020-12-13 15:02] Raghwendra-Dey commented on #55
Okay, for the time being, you work to export this to a google doc. then later on we may modify it for keep, if we find a way to work with that api.

[2020-12-13 15:07] #20 closed

[2020-12-13 15:48] Raghwendra-Dey commented on #21
Hey @kri-bhawna they look great!! Please raise a PR, and I would review the changes and merge it afterwards.

[2020-12-14 20:55] Shagufta08 commented on #32
hey!
I would like to contribute on this.

[2020-12-15 01:02] ghost commented on #32
@Shagufta08 I am working on this as record button is just added by another PR.

[2020-12-15 04:45] Bbiswabasu commented on #55
I checked API for Docs and it seems like we need some backend stuff. I don't think we can make calls just from javascript

[2020-12-15 07:25] inumausam commented on #48
if the logo part is ok then can i create a pull request for this and start working on the dismissible read me message at the top. @Raghwendra-Dey

[2020-12-15 19:13] Shagufta08 commented on #32
@urvashi-code1255
Okay.
No issues!

[2020-12-16 11:48] #21 closed

[2020-12-16 12:11] Raghwendra-Dey commented on #55
@Bbiswabasu you may make use of any js framework, for it. I think there are work arounds as well in js itself, though not sure about them. Also, after the localStorage thing is done, we would be introducing jQuery to the project, its work is already started after #62 , so, look if jQuery helps.

[2020-12-16 12:19] #39 closed

[2020-12-16 12:20] #30 closed

[2020-12-16 12:21] Raghwendra-Dey commented on #28
@TusharDasMe are you working on this?

[2020-12-16 15:22] Lucky-321 commented on #24
I have included the pop-up message part with my code

[2020-12-16 15:34] #48 closed

[2020-12-17 10:34] #24 closed

[2020-12-17 13:57] #16 closed

[2020-12-17 14:01] Raghwendra-Dey commented on #48
@devsTudu I think your logo is also quite good. Please you also create a PR to add the logo in the `assets` folder. Later we would look which one suits better in the actual design, and put that up. Till then, let both of them be in the repo.

[2020-12-18 21:43] danish1804 commented on #32
can i work on this issue @Shagufta08 @Raghwendra-Dey

[2020-12-19 14:17] ghost commented on #54
![Capture](https://user-images.githubusercontent.com/63122133/102691478-e607c900-4232-11eb-87e9-fc122b09676c.PNG)

@Raghwendra-Dey Sir, I have changed the todolist styling and also did the styling of record button. Please give feedback for it.

[2020-12-19 14:32] Raghwendra-Dey commented on #54
Please post ss in both browsers, and also post the ss of the pressed state of `record` button.

[2020-12-19 15:31] ghost commented on #54
@Raghwendra-Dey Sir In firefox and the pressed state of record button.

![Capture](https://user-images.githubusercontent.com/63122133/102692981-4ac82100-423d-11eb-8f28-593217d09536.PNG)

[2020-12-19 15:54] Raghwendra-Dey commented on #54
@urvashi-code1255 just a suggestion, I think a darker color, for the record pressed state would look better, Like it is now, in the deployed site.

[2020-12-19 15:55] ghost commented on #54
Sure Sir.

[2020-12-19 16:10] ghost commented on #54
![Capture](https://user-images.githubusercontent.com/63122133/102693728-b82a8080-4242-11eb-907b-940cad098d31.PNG)

Is this pressed state color Okay @Raghwendra-Dey Sir?

[2020-12-19 16:12] Raghwendra-Dey commented on #54
And whats the released state?

[2020-12-19 16:13] ghost commented on #54
The purple one is the normal state, the white one is the hovered state and the blue one is the pressed state.

[2020-12-19 16:15] Raghwendra-Dey commented on #54
seems good. Make a PR, I would review it.

[2020-12-19 16:16] ghost commented on #54
Okay @Raghwendra-Dey Sir.

[2020-12-22 08:05] Raghwendra-Dey commented on #28
@dollyjain51099 , would you like to take this up?

[2020-12-25 09:25] KerinPithawala commented on #28
Can I work on this issue?

[2020-12-25 10:59] Raghwendra-Dey commented on #28
@KerinPithawala please go ahead.

[2020-12-25 11:23] Raghwendra-Dey opened #78 "The pop-ups dont work"
Steps to reproduce the error:
* press `+1` button more than once(twice or thrice or ..) consecutively, without giving the pop-up time to fade away.
* Now, before it getting fade away, press the cross button on the pop-up.
* Now, if you again press the `+1` button any number of times, the pop-up for that wont function.

P.S: this is with all the four pop-ups, so the steps would be same, just replac

[2020-12-25 11:24] Raghwendra-Dey commented on #78
@kri-bhawna would you like to work on this, since you have worked on this part?

[2020-12-25 11:38] Raghwendra-Dey opened #79 "Make the quotes bar showing alternating quotes, not only one"
Make the quote to be something which cycles through a set of maybe 3-4 quotes(make the number of quotes, variable and easy to add any quote anytime). With each quote appearing and getting removed using typerwriter effect, after staying for sometime in the screen. You can take help from [this repo](https://github.com/le4ker/personal-jekyll-theme) for implementing it. The effect I am proposing is ex

[2020-12-25 11:42] Raghwendra-Dey opened #80 "Insert the logo in the navbar"
Insert the logo before the `productivity_meter` text in the navbar. Try out both of the logos in the assets folder of the main repo:master, and post screenshots of how it looks, then we would decide later, which one to pick.

[2020-12-25 11:42] Raghwendra-Dey commented on #80
@Nishant2907 would you like to take this up?

[2020-12-25 11:48] Raghwendra-Dey opened #81 "Add a contributors section in the readme"
Add a contributors section in the readme using [all-contributors](https://github.com/all-contributors/all-contributors) specification. You can take help from [this](https://github.com/Graph-Visualization/graph-api) repo. The section needed is exactly similar to this.

[2020-12-25 11:54] ghost commented on #81
@Raghwendra-Dey I can work on this and send the PR today itself

[2020-12-25 11:59] Raghwendra-Dey opened #82 "Update the Average time/problem, even when -1 is pressed"
Currently the avg time/problem, is updated only when the +1 button, is pressed, but it doesn't do anything, when the -1 button is pressed. The problem was to save the delta time changes in the past problems, may blow up memory. But we may use a double ended Queue based solution for subtraction of one problem from the problem counter, and still showing the correct average time per problem. And keep

[2020-12-25 12:02] Raghwendra-Dey commented on #81
@urvashi-code1255 sure! you take this up. But try to also focus on the reviews on this: #73 .

[2020-12-25 12:02] Nishant2907 commented on #80
@Raghwendra-Dey yes sure, i can do it.

[2020-12-25 12:03] Raghwendra-Dey commented on #80
@Nishant2907 please go ahead!

[2020-12-25 12:03] Nishant2907 commented on #23
@Raghwendra-Dey , i think this issue has been already solved.

[2020-12-25 12:04] Raghwendra-Dey commented on #23
Yeah more or less.
I think we can close this.

[2020-12-25 12:05] #23 closed

[2020-12-25 12:07] Raghwendra-Dey commented on #55
Hey @Bbiswabasu have you looked into the possible ways to do this. Please explain any problems you might be facing.

[2020-12-25 13:49] Bbiswabasu commented on #55
@Raghwendra-Dey I read the documentation of the API. Python was mentioned as a prerequisite to provide server. I searched but didn't find a way to do the task with js

[2020-12-25 13:57] kri-bhawna commented on #78
@Raghwendra-Dey  Yes, will do so.

[2020-12-25 14:02] kri-bhawna commented on #78
@Raghwendra-Dey  Can you clarify which button name you are talking about. Sorry, I didn't get that.

[2020-12-25 15:49] Raghwendra-Dey commented on #55
@Bbiswabasu okay! then what about importing to google docs? Any issues with that?

[2020-12-25 17:34] ghost commented on #81
@Raghwendra-Dey The way you are saying to do it will not be dynamic.

We can do it in this way it will be dynamic.
![Capture](https://user-images.githubusercontent.com/63122133/103139756-50d25d80-4694-11eb-9b57-3137caa752f2.PNG)

It will contain the github contributors link with it.

[2020-12-27 08:43] Raghwendra-Dey commented on #81
@urvashi-code1255 This also looks cool! Could you explain how you are planning to achieve this?
Also, could you also include the name of the person below that in this type of dynamic list?

[2020-12-27 08:59] ghost commented on #81
This is a website where after giving the repo url u will get the contributors images.

[2020-12-27 09:00] Raghwendra-Dey commented on #81
@urvashi-code1255 can you look for ways to also add the contributors names below their images?

[2020-12-27 09:02] ghost commented on #81
But it will not add the names of the contributors coming in future and also I have to do all this manually then.

[2020-12-27 09:17] Raghwendra-Dey commented on #81
No actually I was saying to look for some alternative. Anyhow, if you can't find then make a PR with this only, thats also fine.

[2020-12-30 12:09] Bbiswabasu commented on #82
I would like to work on this

[2020-12-31 08:32] #32 closed

[2020-12-31 08:32] #54 closed

[2020-12-31 09:22] Raghwendra-Dey commented on #80
Hey @Nishant2907 are you done with adding the logo?

[2020-12-31 09:23] Raghwendra-Dey commented on #81
Hey @urvashi-code1255 , if you didn't find any alternative, then please make a PR with this one only.

[2020-12-31 09:24] Nishant2907 commented on #80
Yes i have done, just forgot to make a pr. Sorry for that. Will make a Pr today itself

[2020-12-31 09:24] ghost commented on #81
Sure @Raghwendra-Dey  I was justing waiting for my PR to get merged now I will make a PR for this

[2020-12-31 09:27] Raghwendra-Dey commented on #81
okay!

[2020-12-31 09:27] Raghwendra-Dey commented on #80
Okay! Cool!

[2020-12-31 10:38] #22 closed

[2020-12-31 10:39] ravisrc opened #87 "Merge the branch localStorage into master"
Merge the work done in the localStorage branch into the master branch

[2020-12-31 10:40] rsriramc commented on #87
I will work on this issue.

[2020-12-31 14:57] #87 closed

[2020-12-31 15:24] rsriramc commented on #79
I would like to work on this
Just a small confirmation: what does variable quotes mean? Is it from the developer side or they have to be taken from the clients i,e, the users of this app

[2020-12-31 15:29] Raghwendra-Dey commented on #79
@ravisrc The developer's side one. By variable I just meant that don't try to hard code that the quotes list would cycle through 4 quotes of the quotes list. It should be like if tomorrow I want to extend the quotes list by one quote, I should not need to mess around with the code, and just add that quote to that quotesList array, and I should be good to go.

[2020-12-31 15:38] ravisrc opened #89 "Average not calculating properly"
While calculating average, the thing that's going on now is that the previous average and the present number of problems are being used.

For better understanding this issue, do the following:
- First press the record button, add two tasks in six seconds, then stop recording
- Now add three more tasks
- Press record now again and add one task in six seconds
- Now stop the recording

If worked in a

[2020-12-31 15:38] rsriramc commented on #89
I would like to work on this

[2020-12-31 16:09] #78 closed

[2020-12-31 18:05] Nishant2907 commented on #80
Hey @Raghwendra-Dey , the logo is added, but i don't think that the available logo might look good with the background
![image](https://user-images.githubusercontent.com/59792198/103421135-df793a00-4bc0-11eb-8e3d-60fe7d18d301.png)

[2020-12-31 18:06] Raghwendra-Dey commented on #80
Maybe try with the other one?

[2020-12-31 18:13] Nishant2907 commented on #80
Have a look at this one. It also doesn't seem much good.
![image](https://user-images.githubusercontent.com/59792198/103421370-f5d3c580-4bc1-11eb-9d37-01aa3dbc16c7.png)

[2020-12-31 18:35] Raghwendra-Dey commented on #80
Try by removing the text `productivity meter` and enlarging the logo to the required dims

[2020-12-31 19:39] Nishant2907 commented on #80
okay, btw Happy new year.

[2021-01-01 09:32] ravisrc opened #93 "Documentation for the saving and retrieving part"
There is no user guide or documentation of the saving and loading part of the timers and other data.

[2021-01-01 17:35] Nishant2907 commented on #80
Tried what you said, it looks like this
![image](https://user-images.githubusercontent.com/59792198/103443487-c5555f80-4c85-11eb-87e9-ab109af0229a.png)

[2021-01-02 08:12] Raghwendra-Dey commented on #80
@Nishant2907 try the other logo in the same way.

[2021-01-02 10:01] #82 closed

[2021-01-02 10:23] #81 closed

[2021-01-02 18:32] Raghwendra-Dey commented on #93
Add:
* In Usage section complete instructions to use the app. All the features of them. Add the info of using save feature. Record feature, and everything, in a bit of detail.
* For developers explain the working of your save feature, and how can someone add some field to the saving feature.

[2021-01-02 18:33] Raghwendra-Dey commented on #28
Hey @KerinPithawala are you facing any problems with this?

[2021-01-03 14:36] #89 closed

[2021-01-03 14:54] Raghwendra-Dey opened #101 "Bug in avg time calculation"
After #86 we can remove a problem, and thats taken time would be removed but theres some miscalculation due to this.
Follow these steps for reproducing the bug: (wait for suitable time according to your approximations)
* do `+1` to get avg of around 2 secs
* then do `+1` to make the avg 3-4 secs
* then do `+1` to make the avg 4-5 secs
* then remove do a `-1`, you should get avg to be 3-4 secs(prev

[2021-01-03 14:55] Raghwendra-Dey commented on #101
@Bbiswabasu you have worked on the deque thing. would you like to take this up?

[2021-01-03 15:06] Bbiswabasu commented on #101
Suppose record is clicked at t=0, 3rd task was finished at t=3s and I add 4th task at t=4s. Avg shown will be 1s. If I press -1 and again press +1 at t=8s, avg shown ( According to my implementation) is 8/4=2s irrespective of when -1 was clicked. Is this part fine?

[2021-01-03 15:22] rsriramc commented on #101
I think this is an ambiguous thing, since in one point of view we can think that the whole window can be thought of used for one problem since the problems that were minused/removed were not completed or done. So it means that the whole time is now used for this one. But thats not the case as per the average time scenario. Since it refers to the case that only one thing is done at a time.

[2021-01-03 15:30] Bbiswabasu commented on #101
So should I reset starting time for a problem when -1 is clicked?

[2021-01-03 15:33] Raghwendra-Dey commented on #101
No, but if you think this from the user's perspective, the -1 button is just there that lets say I solved a problem, and I did a +1 for that, but later I realised that the soln is not correct so I would do a -1(which means I don't want to take into account whatever time is gone in the last problem. For sure, its not correct to include that amount of time to the next problem, since I haven't utilis

[2021-01-03 15:37] Bbiswabasu commented on #101
Ok I got it. I will update that.

[2021-01-03 17:31] #79 closed

[2021-01-04 16:48] #101 closed

[2021-01-06 17:47] Raghwendra-Dey commented on #80
Hey @Nishant2907 are you done with the other logo in this format. Could you please post a photo of that here, so that we could decide upon?

[2021-01-06 17:51] Nishant2907 commented on #80
How about now?
![image](https://user-images.githubusercontent.com/59792198/103802887-d7644300-5075-11eb-9fec-a1a0fde6d457.png)